/* HEADER */
.navbar .navbar-nav
{
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse
{
    text-align: center;
}

/* Form for date picker*/
.formDatePicker
{
    text-align: center;
    margin: 12px 0 15px 0;
}

/* For smartphones */
@media only screen and (max-width: 768px)
{
    .formDatePicker
    {
        text-align: left;
        margin-top: -10px;
    }

    .formDatePicker .dpTo
    {
        margin-top: -10px;
    }

    .datePickerSubmitBtn
    {
        margin-left: -6px;
    }
    .tableColorWhite, .listModers, .listAddedRealization, .tableIndex, .tableListAll
    {
        padding-right: 0;
        padding-left: 0;
    }
}

@media only screen and (max-width: 405px)
{
    .onOffBotText
    {
        padding-top: 0;
    }

    .onOffBotTumbler
    {
        padding-top: 5px;
    }

    .accordionContainer, .accordionColumns
    {
        padding-right: 0;
        padding-left: 0;
    }
}

/* Tables*/
.tableColorWhite table th, td
{
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle !important;
}

/* Design horizontal line*/
.designLine hr
{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-bottom: #FFFFFF;
    border-style: solid none;
    border-width: 2px 0;
    margin: 18px 0;
}

/* Shorten text for description */
.remaining-content span
{
    display:none;
}

/* Accordion */
.accordion
{
    /*background-color: #eee;*/
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: solid #D3E0E9 1px;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:after
{
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.activeAcc:after
{
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.activeAcc, .accordion:hover
{
    background-color: #ccc;
}

.panelAcc
{
    padding: 0 18px;
    display: none;
    background-color: white;
}

.hrTopLine
{
    margin-top: 0px;
}
.panel-default
{
    padding-top: 16px;
}

/* Vertical align for label belongs to delete district */
.verticalAlignDeleteButton
{
    padding-top: 7px;
}


/* STYLE FOR BOT PAGE*/
#token
{
    display:none;
}

/* The switch - the box around the slider (checkbox on-off)*/
.switch
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input
{
    display:none;
}

/* The slider */
.slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider
{
    background-color: #2196F3;
}

input:focus + .slider
{
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round
{
    border-radius: 34px;
}

.slider.round:before
{
    border-radius: 50%;
}

.onOffBotText
{
    padding-top: 6px;
}

.messageWebhook
{
    padding-top: 5px;
}

.textCommandStart
{
    border: solid 1px #D3E0E9;
    border-radius: 0;
}

.previewCommandStart
{
    padding: 6px 12px;
    border: solid 1px #D3E0E9;
    background-color: white;
}

.buttonHelperForTags
{
    font-style: italic;
    display: block;
    float:right;
}

.textHelperForTags
{
    padding: 6px 12px;
    border: solid 1px #D3E0E9;
    background-color: white;
    display: none;
}

/* Separator right side of navbar */
.separatorRightNavbar
{
    margin: 10px 0;
}

.titleNavbar
{
    font-size: 16px;
}

.dropdown-menu li a
{
    font-size: 14px;
    color: #777;
}