/* HEADER */
.navbar .navbar-nav
{
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse
{
    text-align: center;
}

/* Tables*/
.tableColorWhite table th, td
{
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle !important;
}

/* Shorten text for description */
.remaining-content span
{
    display:none;
}

/* Description for Realization (textarea)*/
.descriptionRealization
{
    border: solid 1px #D3E0E9;
    border-radius: 0;
    width: 75%;
}

/* Indent for description of Realization (textarea)*/
.indentDesc
{
    padding-top: 10px
}

@media only screen and (max-width: 768px)
{
    .tableColorWhite, .tableAddedRealization
    {
        padding-right: 0;
        padding-left: 0;
    }

    .newRealization
    {
        border-top: 2px solid #EEE;
        padding-top: 15px;
    }

    .submitRealization
    {
        padding-bottom: 6px;
    }
}

@media only screen and (max-width: 405px)
{
    .descriptionRealization
    {
        width: 100%;
    }
}

.codePaddingLeft
{
    margin-left: -15px;!important;
}

/* Separator right side of navbar */
.separatorRightNavbar
{
    margin: 10px 0;
}
